<!DOCTYPE html>
<html >
<body>

<h2>The XMLHttpRequest Object</h2>

<p id="demo"></p>
<p id="test">

<form>
    <div style=" top:0px; display:inline-block;">
        <fieldset style="width:35px">
            <legend>REQUETES</legend>
            <p><textarea class="scrollbars" cols="29" rows="3" placeholder="Type your request here..." id="myInput"></textarea></p>

            <button type="button" onclick="loadDoc()">Request data</button>

            <fieldset style="width:80px">
                <legend> RESULTATS</legend>
                <p><textarea class="noscrollbars" cols="29" rows="5"></textarea></p>

            </fieldset>
        </fieldset>

    </div>
    <div style=" top:0px; display:inline-block;">
        <fieldset style="width:35px">
            <b></b> <legend>ERREURS DE SYNTAXE</legend>
            <p><textarea class="crollbars" cols="30" rows="15" ></textarea></p>
        </fieldset>
    </div >
    <fieldset style="width:80px">
        <legend> ERREURS RUNTIME </legend>
        <p><textarea class="noscrollbars" cols="72" rows="5"></textarea></p>

    </fieldset>

</form>



<script>
var data ="int x=5;";

function loadDoc() {
var input=(data.trim());
 //input=JSON.stringify(data);
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
    }
  };

var inputVal = document.getElementById("myInput").value;
          document.getElementById("test").innerHTML = inputVal;

  xhttp.open("POST", "http://localhost:8080/comp?number="+inputVal, true);
  xhttp.setRequestHeader("Content-type", "application/json");



  //console.log(xhttp.responseText);
  xhttp.send();


            // Selecting the input element and get its value

            // Displaying the value
            //console.log("input value:"+inputVal);
           // var obj = JSON.parse('{"name":"John"}');
           // console.log( obj.name === "John" );

}
</script>

</body>
</html>
